@font-face {
  font-family: "Century Gothic";
  src: url("./assets/fonts/CenturyGothic.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf");
}

* {
  margin: 0%;
}

body {
  font-family: "Century Gothic";
  overflow-x: hidden;
  transition: all 0.5s;
}

summary {
  cursor: pointer;
}

summary > * {
  display: inline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
  border: 1px solid transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  border: 1px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
