@font-face {
  font-family: "Century Gothic";
  src: url("./assets/fonts/CenturyGothic.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf");
}

* {
  margin: 0%;
}

body {
  font-family: "Century Gothic";
  overflow-y: hidden;
  overflow-x: hidden;
}
